<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=title%></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Zoom Integration Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
    </div>
  </nav> -->

  <main role="main" class="container-fluid">
 <div class="row">
   <div class="col-md-12"> 
    <div class="jumbotron">
      <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Meeting ended Successfully</a>
      </div>
      <p>click on start meeting to start a new one!</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Thanks for using our</a></p> -->
    </div>

   </div>

 
 </div>
      
   

  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>
  <script type="text/javascript">
    var grid = GridStack.init();
  </script>

</body>

</html>