iframe.chat-bot-widget-wrapper{
    position: absolute !important;
    bottom: 0 !important;;
    left: 0 !important;;
    height: 100% !important;;
    width: 100% !important;;
}



.grid-stack-animate{
	min-height:calc(100vh - 100px) !important;
	
}

 .grid-stack-item[data-gs-height="8"] {
    height: 100% !important;
}
 
 
 iframe{
  border-width: 0px !important; 
}


.border-zero{
	border:none !important;